<%- include('./partials/head.ejs')  %>
<title>404</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <main>
    <h1><%= message %></h1>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>