<%- include('./partials/head.ejs')  %>
<title>Café Tango</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <main>
    <h1>Index</h1>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>