<%- include('../partials/head.ejs')  %>
<title>Nuevo usuario</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>

  <main>

  </main>

  <%- include('../partials/footer.ejs') %>
</body>

</html>